<div class="container text-center">
  <img class="img-rounded" src="{{profile-img model.profileImg}}" alt="{{model.type}}">
  <h3>{{model.name}}</h3>
  <h3>{{model.profileImg}}</h3>
  <h2>{{profile-img model.profileImg}}</h2>

</div>
<!-- model.profileImg.indexOf("assets/images/cryptids/") -->
<!-- substring -->
